.graphs {
  margin: auto;
  justify-content: center;
  text-align: center;
  color: white;
}

.dayGraph img {
  width: 100%;
  max-width: 1480px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  font-size: 15px;
  flex-grow: 1;
  border-style: solid;
  border-bottom: 5px;
  border-color: white;
  outline: none;
}

nav button:hover {
  cursor: pointer;
  background: #555555;
  color: white;
}

.davisMonth {
  width: 80%;
  margin: auto;
}

.davisMonth .myPre {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
  text-align: left;
}

.davisTable {
  width: 100%;
  max-width: 1000px;
  font-size: 10px;
  overflow-x: auto;
  margin: auto;
}

.davisTable table {
  color: black;
  width: 100%;
}

.davisTable table button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  width: 100%;
  font-size: 10px;
}

.davisTable table button:hover {
  cursor: alias;
}

.davisTable table tr {
  background-color: white;
  font-size: 10px;
}

.davisTable table tr th {
  font-size: 10px;
  font-weight: lighter;
}

.davisTable table .link {
  white-space: nowrap;
  text-decoration: underline;
}

.davisTable table .link:hover {
  cursor: pointer;
  background: #555555;
  color: white;
}

/* Canvas graph */
#all-graphs {
  text-align: left;
  max-width: 724px;
}

#all-graphs .one-graph {
  position: relative;
  left: 0px;
  height: 300px;
}

#all-graphs .one-graph .canvas {
  background: black;
  position: absolute;
  z-index: 1;
}

#all-graphs .one-graph .canvas_pointer {
  background: transparent;
  position: absolute;
  z-index: 2;
}

.pointerOn {
  cursor: crosshair;
}

.pointerOnGrab {
  cursor: pointer;
}

#isLoading {
  position: absolute;
  z-index: 3;
  width: 100%;
}

#isLoading svg {
  margin: auto;
  display: block;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: draw 5s backwards infinite;
  fill-opacity: 0.3;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
